/* --------------------------contact section design section-------------
------------------------------------------------------------------------- */
.container-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 
.contact-title{
    width: 200px;
    border-bottom: 3px solid #23085A;
    margin: 12px;

}
/*---------------- Contact notice section ---------------------
---------------------------------------------------------------*/
.notice-alert{
    background-color: aliceblue;
    padding:18px;
    border-radius: 7px;
    margin-right: 12px;
    opacity: .8;
    
}
/*--------------------- Contact aside part-------------------------- */
.contact-aside{
    padding-left: 30px;
}