.headerStyle {
    background-color:#23085A ;
    padding:40px;
}
.navLinkDesign{
    text-decoration: none;
    color:white;
    margin-left: 20px;
    font-weight: 600;
}
.navLinkDesign:hover{
    background-color: white;
    color:#23085A;
    border-bottom:4px solid #e2136e;
    border-radius: 10px;
    padding: 12px;
}
