.footerStyle {
    background-color:#23085A ;
    padding:60px;
    color:white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.footer-about,.footer-partner,.footer-teach,.footer-contact{
    margin:7px;
    padding: 10px;
    text-align: center;
}
