/*--------------------- In Work file,services are designed part by part----------
--------------------------------------------------------------------------------- */

.workDivDesign{
    background-color: #f8f8f9;
    box-shadow: -3px 2px 3px #e2136e ;
    margin:32px;
    border-radius: 7px;
}
.img-style{
    border-radius: 50%;
    position: relative;
    top:-38px;
    border:2px solid #e2136e; 
}
.work-info{
    position: relative;
    top: -35px;
}